.main-menu-container{
  background-color: #FAFAFA;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 2px solid #EEE;
}
.menu-title{
  display: flex;
  align-items: center;
  padding: 12px;
}
.menu-title i{
  margin-right: 12px;
}

.main-menu a{
  padding: 12px;
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
}

.main-menu a i{
  margin-right: 6px;
}
.main-menu a:hover{
  background-color: #EEEEEE;
  color: #00ACC1;
}
.group{
  border-bottom: 1px solid #ccc;
}
